<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Events</title>
  <link rel="stylesheet" type="text/css" href="style3.css">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <script defer  src="script.js"></script>

</head>
<body>
  <div class="header">
    <navbar>
      
      <div class="nav-links">
        
        <ul>
          <li class="nav-item"><a href="/"><h2>INGENIOUS</h2></a></li>
          <li class="nav-item"><a href="#about">About</a></li>
          <li class="nav-item"><a href="/events">Events</a></li>
        </ul>
      </div>
      
    </navbar>
  </div>
<div class="events" id="events">
    <h1>Events</h1>
    <ul>
      <li><button data-modal-target="#modal" class ="event-btn" >Cyberneticsprint</button></li> 
      <li><button data-modal-target="#modal2" class ="event-btn" >C.I.D (Create Innovate Design)</button></li>
      <li><button data-modal-target="#modal3" class ="event-btn" >Get.. Set.. Make..</button></li>
      <li><button data-modal-target="#modal4" class ="event-btn" >Trials of Wisdom</button></li>
      <li><button data-modal-target="#modal5" class ="event-btn" >Game Jam</button></li>
      <li><button data-modal-target="#modal6" class ="event-btn" >Iron Out The Issues</button></li>
      <li><button data-modal-target="#modal7" class ="event-btn" >Sikrypt</button></li>
      <li><button data-modal-target="#modal8" class ="event-btn" >Web Design</button></li>
      <li><button data-modal-target="#modal9" class ="event-btn" >BGMI</button></li>
      <li><button data-modal-target="#modal10" class ="event-btn" >Valorant</button></li>
      <li><button data-modal-target="#modal11" class ="event-btn" >Picture Perfect</button></li>
      <li><button data-modal-target="#modal12" class ="event-btn" >Chess</button></li>
    

      <li><button data-modal-target="#modal13" class ="event-btn" >Drama-Logue</button></li> 
      <li><button data-modal-target="#modal14" class ="event-btn" >Journo's Journey</button></li>
      <li><button data-modal-target="#modal15" class ="event-btn" >Debate</button></li>
      <li><button data-modal-target="#modal16" class ="event-btn" >Stratagem</button></li>
      <li><button data-modal-target="#modal17" class ="event-btn" >The Ultimate Marketer</button></li>
      <li><button data-modal-target="#modal18" class ="event-btn" >Comic Strip</button></li>
      <li><button data-modal-target="#modal19" class ="event-btn" >Trick of Eyesight</button></li>
      <li><button data-modal-target="#modal20" class ="event-btn" >Amalgamation</button></li>
      <li><button data-modal-target="#modal21" class ="event-btn" >Nukkad Natak</button></li>
      <li><button data-modal-target="#modal22" class ="event-btn" >Escape Root</button></li>
      <li><button data-modal-target="#modal23" class ="event-btn" >The Great Mathematics Race</button></li>
      <li><button data-modal-target="#modal24" class ="event-btn" >The Divine Proportion</button></li>
    </ul>
  </div>
  <div class="popups">

  <div class="modal" id="modal">
    <div class="modal-header">
      <div class="title">Cyberneticsprint</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      
         Participants have to make a robot (ground based, no aerial aspect allowed). The robot will have to navigate a track. The objective is to finish the track in the least amount of time with the least amount of mistakes.
    
    </div>
  </div>

    <div class="modal" id="modal2">
    <div class="modal-header">
      <div class="title">C.I.D (Create Innovate Design)</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      Problem-solving-oriented Computer Aided Designing competition. Participants will be given a problem or task that is to be taken care of by a machine, device or some piece of hardware. They then have to use a Computer Aided Design Software to make a prototype (a 3D design) of that device or machine digitally.
    </div>
  </div>

    <div class="modal" id="modal3">
    <div class="modal-header">
      <div class="title">Get... Set... Make...</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
     The participants will have to build a model relating to the topic specified below. The model has to be assembled at the venue in the given amount of time. No part of the model should be assembled before the start of the competition.
  </div>
  </div>

  <div class="modal" id="modal4">
    <div class="modal-header">
      <div class="title">Trials of Wisdom</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
     The questions will test the general knowledge and concepts of science till grade 12.

  </div>
  </div>

  <div class="modal" id="modal5">
    <div class="modal-header">
      <div class="title">Game Jam</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      The participants have to develop their game and submit it on itch.io on the 30th of July 2022 by 12:00 PM.
  </div>
  </div>


  <div class="modal" id="modal6">
    <div class="modal-header">
      <div class="title">Iron Out The Issues</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      The participants will have to fill in the missing logic and syntax for the program, analyze the program's source code and make changes to make it functional and list the logical and syntax errors in the code. 
  </div>
  </div>

  <div class="modal" id="modal7">
    <div class="modal-header">
      <div class="title">Sikrypt</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      Participants will be taken on a journey through obscure websites, unlisted YouTube videos, and their own mind as they try to solve a series of puzzles split up into several unique levels that will test their brainpower, resourcefulness, and their hidden detective.
  </div>
  </div>

  <div class="modal" id="modal8">
    <div class="modal-header">
      <div class="title">Web Design</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      Participants have to design a website based on the provided theme/topic within the given time duration.
  </div>
  </div>

  <div class="modal" id="modal9">
    <div class="modal-header">
      <div class="title">BGMI</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      Battlegrounds Mobile India, or BGMI, is a player-versus-player shooter game in which up to 100 players compete in a battle royale, a type of large-scale last man standing deathmatch in which players compete to be the last one standing. Players can enter the match as individuals or as small groups of up to four. 
  </div>
  </div>

  <div class="modal" id="modal10">
    <div class="modal-header">
      <div class="title">Valorant</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      Valorant is a team-based first-person hero shooter set in the near future.Players play as one of a set of Agents, characters designed based on several countries and cultures around the world.
  </div>
  </div>

    <div class="modal" id="modal11">
    <div class="modal-header">
      <div class="title">Picture Perfect</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      <pre>
      Participants will submit their original photographs depicting one of the following themes:
          1)India through my eyes
          2)My life through the years
          3)Beauty of Nature
        </pre>
  </div>
  </div>

    <div class="modal" id="modal12">
    <div class="modal-header">
      <div class="title">Chess</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      Teams would compete in 5 minute blitz matches to qualify for finals. Finalists would compete for the winning position in a 20 minute game
  </div>
  </div>

    <div class="modal" id="modal13">
    <div class="modal-header">
      <div class="title">Drama-Logue</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      The participant has to come prepared with a monologue of not more than 2 mins.

      The participants will be judged on their spontaneity, creativity and expression by this monologue event. 
  </div>
  </div>

  <div class="modal" id="modal14">
    <div class="modal-header">
      <div class="title">Journo's Journey</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      Participants 2- One Journalist and the other camera person.

      Submit a video for the same.

      The video should cover-
          Interviews of students
          Live coverage of events
          Reporting by the Journalist

      The video has to be made within the three days of the STEAM FEST.
  </div>
  </div>

  <div class="modal" id="modal15">
    <div class="modal-header">
      <div class="title">Debate</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      2 participants each from opposition and proposition will debate on a motion provided on
      the day of the event.
  </div>
  </div>

  <div class="modal" id="modal16">
    <div class="modal-header">
      <div class="title">Stratagem</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      Stratagem - Green Business Entrepreneurs - A business plan event to promote business ideas for the environment. 
  </div>
  </div>

  <div class="modal" id="modal17">
    <div class="modal-header">
      <div class="title">The Ultimate Marketer</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      Problem Statement - Selling a deodorant is easy. But can you sell a pungent smelling deodorant!

      Each team will be given a product and they need to create a 2-minute ad/ jingle/ poster/Role play to market it in the most creative way possible.
  </div>
  </div>

  <div class="modal" id="modal18">
    <div class="modal-header">
      <div class="title">Comic Strip</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      Participants have to design a comic strip based on the provided storyline.
  </div>
  </div>

  <div class="modal" id="modal19">
    <div class="modal-header">
      <div class="title">Trick of Eyesight</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">

  </div>
  </div>

  <div class="modal" id="modal20">
    <div class="modal-header">
      <div class="title">Amalgamation</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">

  </div>
  </div>

  <div class="modal" id="modal21">
    <div class="modal-header">
      <div class="title">Nukkad Natak</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      The students will be required to present a nukkad natak (street play) on any current social issue.
  </div>
  </div>

  <div class="modal" id="modal22">
    <div class="modal-header">
      <div class="title">Escape Root</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      There will be groups of 4 in each team who will be standing in the 4 different corners of the hall.
      The first participant will solve the first puzzle and run to the second participant with the next puzzle.
      This will continue until the 4th participant reaches the finishing line with all the solved puzzles.
  </div>
  </div>

  <div class="modal" id="modal23">
    <div class="modal-header">
      <div class="title">The Great Mathematics Race</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      On the first location, the team will get one puzzle which they need to solve to get to the next location.
      Each team will be provided with 1 curator from the host school to move around in the school
  </div>
  </div>



  <div class="modal" id="modal24">
    <div class="modal-header">
      <div class="title">The Divine Proportion</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      The students need to assemble a model based on Golden Ratio. It may be related to nature/architecture/product/design.
  </div>
  </div>




  <div id="overlay"></div>
</body>
</html>