<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style3.css">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<script defer  src="script.js"></script>

	<title>Ingenious</title>
</head>

<body>

	<div class="header">
		<navbar>
			<div class="nav-links">
				
				<ul>
					<li class="nav-item"><a href="/"><h2>INGENIOUS</h2></a></li>
					<li class="nav-item"><a href="#about">About</a></li>
					<li class="nav-item"><a href="/events">Events</a></li>
					<li class="nav-item"><button><a href="/register">Register</a></button></li>
				</ul>
			</div>		
		</navbar>
	</div>


	<div class="landing">
		<h1>Coming July 2022</h1>
	</div>
	<div class="about" id="about">
		<h1>About Us</h1>
		<h3>INGENIOUS is a mega fest with an array of events/activities to challenge every aspect of a growing child. The fest includes Science, Technology, English, and Entrepreneurship, Dance, Music and Maths. It’s a three-day event that brings along a wide variety of sub events to give wings to anyone’s talent</h3>
		<h3>The holding of the fest is an endeavour to initiate the collaborative working of students. The platform launched, is a dream actualised by the leaders of the Kothari International School. Students have worked tirelessly from the very inception of the concept. They have created, conceived and will now  execute the entire fest solely. </h3>
	</div>

<div class="socials">
	<a href="https://www.facebook.com"><img src="facebook.png"></a>
	<a href="https://www.instagram.com"><img src="instagram.png"></a>
	<a href="https://discord.com"><img src="discord.png"></a>

</div>
	
</body>
</html>