<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style3.css">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<title>Register</title>
</head>
<style type="text/css">
	 h1{
	 	text-align: center;
	 }
	
	.form{
		display: flex;
		justify-content: center;
	}
</style>
<body>
<div class="header">
		<navbar>
			
			<div class="nav-links">
				
				<ul>
					<li class="nav-item"><a href="/"><h2>INGENIOUS</h2></a></li>
					<li class="nav-item"><a href="/">About</a></li>
					<li class="nav-item"><a href="/events">Events</a></li>
				</ul>
			</div>
			
		</navbar>
	</div>
	<h1 style="color: #F0A500;">Register As a Participant</h1>
	<div class="form">
		

	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf7tDkWB1lp11x1qc9LR8sLwW5eUEVXz-sipxZ0nP_AOZapFg/viewform?embedded=true" width="640" height="3800" frameborder="0" >Loading…</iframe>
	
</div>
</body>
</html>