@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&family=Orbitron:wght@500&family=Tomorrow&display=swap');
:root{
	font-size: 20px;
	--bg-primary: #222831;
	--bg-secondary: #393E46;
	--text :#FFF;
	--font :'Tomorrow'

}


body{
	color: var(--text);
	font-family: var(--font);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.navbar{
	height: 80px;
	width: 100%;
	color:var(--text);
	font-family: var(--font);
}

.nav-links{
	list-style: none;
	display: inline;
	float: right;
}

.nav-item {
	display: inline-block;
	padding-left: 2rem;
	padding-top: 2rem;
	text-decoration: none;
	color:var(--text);
	transition: all 500ms ease;
}

.nav-item:hover{
	text-decoration-line: underline;
}

.nav-click{
	display: inline-block;
	padding-left: 2rem;
	padding-top: 2rem;
	text-decoration: none !important ;
	color:var(--text);
	transition: all 500ms ease;
}

.nav-click:hover{
	color:white !important;
	text-decoration-line: underline;
}

.nav-title{
	display: inline;

}

.nav-heading{
	display: inline-block;
	padding-left: 1rem;
	padding-top: 0.7rem;
}

#banner{
	padding: 3rem;
	margin: auto;
	text-align: center;
	font-size: 50px;
}

.events ul{
	list-style: none;
	columns: 3;
}

.events ul li button{
	padding: 2rem;
	margin: 2rem;
	width: 50vh;
	height: 50vh;
	background: rgba(1,1,1,0.5);
	border: none;
	border-radius: 3px;
	color: var(--text);
}

.modal-content{
	background: rgba(1, 1, 1, 0.8);
	border:1px solid white;
	border-radius: 3px;
}

.modal-header .close{
	color: var(--text);
}

.modal-body{
	white-space: pre;
}

#contact{
	text-align: center;
	margin-top: 30vh;
}

#contact ul{
	list-style: none;
	display: inline;

}

#contact ul li{
	display: inline-block;
}

#contact ul li a img{
	display: inline-block;
	height: 32px;
	margin: 3rem;

}