@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Press+Start+2P&display=swap');



:root{
	font-size: 20px;
	--bg-primary: #222831;
	--bg-secondary: #393E46;
	--text :#FFF;
	--font :'Poiret One'

}

body{
	color: var(--text);
	font-family: ;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.navbar{
	height: 80px;
	width: 100%;
	color:var(--text);
	font-family: var(--font);
}

.nav-links{
	list-style: none;
	display: inline;
	float: right;
}

.nav-item{
	display: inline-block;
	padding-left: 2rem;
	padding-top: 2rem;
	text-decoration: none;
	color:var(--text);
}

.nav-title{
	display: inline;

}

.nav-heading{
	display: inline-block;
	padding-left: 1rem;
	padding-top: 0.7rem;
}